<h1>Here are your articles</h1>

<h2> <%= link_to "New", "/articles/new" %></h2>

<ul>
  <% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %></li>
  <%= article.content %>
  <% end %>
</ul>
